body {
  font-family: "Poppins", sans-serif;
}
.carousel-btn {
  background-color: #f39f03;
  color: black;
}
.headings {
  color: #f39f03;
}
li {
  list-style: none;
}
.fa-check {
  color: #f39f03;
}
.card-btn {
  background-color: black;
  color: orange;
}
.yellow-card {
  background-color: #db8f02;
  border-radius: 26px;
  color: black;
}

.yellow-card-badge {
  z-index: 1;
}

.bg-footer {
  background-color: #0b0d17;
  height: 400px;
}
.bg-link-footer {
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
}
.bg-contact {
  background-color: #f39f03;
}