body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
.fa-check {
  color: #3f87f5;
}
.white-card-btn{
    background-color: #FEF5FB ;
    color: #3F87F5 ;
}
.blue-card{
    background-color: #3F87F5;
    border-radius: 26px;
    /* height: 400px; */
}
.blue-card-btn{
    background-color: white;
    color: #3F87F5 ;
   
}
.bg-footer{
  background-color: #0B0D17;
  height: 300px;
}
.bg-link-footer{
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
}
/* .tick-white{
    color: white;
} */
/* colors

header btn text - #3F87F5
tick marks and btn text - #3F87F5
card bg - #3F87F5;
box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
border-radius: 26px;

card btn bg - #FEF5FB
or 
background: #F496D1;
mix-blend-mode: normal;
opacity: 0.1;
border-radius: 24px;

blue-card btn bg - #FFFFFF

tick bg - #EEECF9
*/
